<div class="container-fluid d-flex align-items-center justify-content-center mnh100" ng-controller="registerController">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3 col-xs-12">
            <form>
                <div class="form-group">
                    <label for="first_name">First name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Enter first name" ng-model="user.first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter last name" ng-model="user.last_name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                        ng-model="user.email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
                        placeholder="Password" ng-model="user.password">
                    <small id="passwordHelp" class="form-text text-muted">
                        <a href="/#!/login">Have an account? Log in here.</a>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="register(user)">Submit</button>
            </form>
        </div>
    </div>
</div>